* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #555;
}

a:hover {
    color: #f55;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
    font-size: 12px;
    font-family: 'Microsoft Yahei';
    color: #555;
    line-height: 1.7em;
}


/*page =============================== */

.center {
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    text-align: left;
}

.center-content,
.center-sidebar {
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}

.center-content {
    float: left;
    width: calc(70% - 42px);
}

.center-sidebar {
    float: right;
    width: calc(30% - 42px - 27px);
}

.center-content.homeCenter-content {
    padding: 0px;
    width: calc(70% - 2px);
    border: none;
}

.center-content .excerpt {
    max-height: 200px;
}

.center-content .excerpt .note {
    max-height: 80px;
    overflow: hidden;
}


/*menu =================================*/

.menu {
    display: flex;
}

.menu-item {
    padding: 5px 12px;
    position: relative;
    word-break: keep-all;
    font-size: 18px;
}

.sub-menu {
    display: none;
    position: absolute;
    left: 0px;
    top: 100%;
    padding-bottom: 5px;
    background-color: #fff;
    border: 1px solid #f99;
    border: 1px solid #fcc;
    border-radius: 4px;
    box-shadow: 0px 2px 3px #ddd;
}

.sub-menu .menu-item {
    font-size: 15px;
}

.menu-item:hover .sub-menu {
    display: block;
}