<ul class="menu">
    <li class="menu-item">
        <a href="#">首页</a></li>
    <li class="menu-item"><a href="#">教育信息</a>
        <ul class="sub-menu">
            <li class="menu-item">
                <a href="#">幼儿教育</a></li>
            <li class="menu-item">
                <a href="#">小学教育</a></li>
            <li class="menu-item">
                <a href="#">中学教育</a></li>
            <li class="menu-item">
                <a href="#">高中教育</a></li>
        </ul>
        <i class="fa fa-angle-down faa"></i>
    </li>
    <li class="menu-item"><a href="#">网盘分享</a>
        <ul class="sub-menu">
            <li class="menu-item"><a href="#">小学生幼儿课程</a></li>
            <li class="menu-item"><a href="#">初高中培训视频</a></li>
            <li class="menu-item"><a href="#">注册职业考试资料</a></li>
            <li class="menu-item"><a href="#">综合资料分享</a></li>
            <li class="menu-item">
                <a href="#">软件分享</a></li>
            <li class="menu-item">
                <a href="#">石材雕刻图库</a></li>
        </ul>
        <i class="fa fa-angle-down faa"></i>
    </li>
    <li class="menu-item"><a href="#">股票投资</a>
        <ul class="sub-menu">
            <li class="menu-item"><a href="#">股票知识</a></li>
            <li class="menu-item"><a href="#">炒股技巧</a></li>
            <li class="menu-item"><a href="#">股票实战</a></li>
            <li class="menu-item"><a href="#">金融投资</a></li>
        </ul>
        <i class="fa fa-angle-down faa"></i>
    </li>
    <li class="menu-item"><a href="#">省钱赚钱秘籍</a></li>
    <li class="menu-item"><a href="#">淘宝特卖</a></li>
    <li class="menu-item"><a href="#">正版软件</a>
        <ul class="sub-menu">
            <li class="menu-item"><a href="#">筑业软件</a></li>
            <li class="menu-item"><a href="#">恒智天成</a></li>
            <li class="menu-item"><a href="#">盛发软件</a></li>
            <li class="menu-item"><a href="#">信创人事软件</a></li>
        </ul>
        <i class="fa fa-angle-down faa"></i>
    </li>
    <li class="menu-item"><a href="#">网站公告</a></li>
    <li class="menu-item">
        <a href="javascript:;" class="search-show active" _hover-ignore="1">
            <i class="fa fa-search" onclick="switchSearch()"></i>
            <i class="fa fa-search fa-remove" onclick="switchSearch()"></i>
        </a>
    </li>
</ul>
